@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }


  .navbar{
    display: flex;
    justify-content: space-between;
  }

  .nav-link{
    display: flex;
    text-decoration: none;
    font-weight: 500;
  }

  .nav-item{
    list-style: none;
    margin-right: 30px;
  }

  .text-gray{
    color: #424242;
  }
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background-color: rgba(221, 255, 14, 0.1);
  }

  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }